body {
    background-image: url(assests/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; /* Center background image horizontally and vertically */
    margin: 10px; /* Reset default margin */
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif; /* Apply font to entire document */
    color: white; /* Default text color */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0%;
    
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-top: 0%;
    gap: .2rem;
    border: .2em solid rgb(32, 100, 100);
    background-color: grey;
    font-size: 1.5em;
    list-style: none;
    
    
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 1em; /* Adjusted font size */
    text-align: left;
    margin:1em;
    padding-right: 1em;
}

.imgcontainer {
    display: flex;
    justify-content: center ;
    flex-direction: row;
    gap: 10px;
    padding: 10rem;
    margin: 0em;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.row {
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-right: 6rem;
}

.education, .work-experience {
    padding: 3%;
    margin: 1%;
    border: 0.2em solid white;
    background-color: rgb(32, 100, 100);
    
}

.abouttext {
    color: antiquewhite;
    border: 0.2em solid white;
    padding: 1%;
    margin: 1%;
    background-color: rgb(32, 100, 100);
    list-style: none;
}

.img {
    float: left;
    padding: 1%;
}

.img2 {
    float: right;
    padding: 1%;
}

.hometext, .homemessage {
    text-align: center;
    font-size: x-large;
    padding: 3em;
    margin: 3em;
}

span {
    color: black;
}
.span2{
    color:red;
}

/* Media Queries */

/* Adjustments for smaller screens */
@media only screen and (max-width: 600px) {
    .container {
        padding-left: 10px; /* Further reduce left padding for smaller screens */
    }

    .nav a {
        font-size: 16px; /* Reduce font size for navigation links */
    }

    .education, .work-experience {
        width: 100%; /* Set width to 100% on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
        margin: 5px;
    }
}

/* Adjustments for larger screens */
@media only screen and (min-width: 768px) {
    .container {
        padding-left: 135px; /* Restore left padding for larger screens */
    }

    .nav a {
        font-size: 20px; /* Increase font size for navigation links */
    }

    .education, .work-experience {
        width: 50%; /* Set width to 50% on larger screens */
    }
}
